In [2]:
import os
import pandas as pd
import math
import numpy as np
import random
import matplotlib.pyplot as plt
from statistics import median,mean

#input file 
input_dir = r'/Users/arun/Downloads/CS677 - PY/'
input_file  = os.path.join(input_dir, 'zip.csv')

df = pd.read_csv(input_file)
df.head(5)

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526

In [3]:
df.drop(df.columns.difference(['zipcode','agi_stub','N1']),1,inplace=True)
df2 = df.copy()
df2 = df2[((df[['zipcode']] != 0) & (df[['zipcode']] != 99999)).all(axis=1)]
df2 = df2.reset_index(drop=True)
df2.head(5)

   zipcode  agi_stub    N1
0    35004         1  1510
1    35004         2  1410
2    35004         3   950
3    35004         4   650
4    35004         5   630

In [5]:
sumN1 = dict(df2.groupby('zipcode')['N1'].sum())

In [6]:
df2 = df2.assign(Value = lambda x: x.N1 * x.agi_stub.replace({1:12500,2:37500,3:62500,4:87500,5:112500,6:212500}))

In [7]:
mulN1 = dict(df2.groupby('zipcode')['Value'].sum())

In [13]:
df2["agi_stub"] = df2["agi_stub"].replace({1:12500,2:37500,3:62500,4:87500,5:112500,6:212500})

In [58]:
agi = {}
for x in df2['zipcode'].unique().tolist():
    agi[x] = sorted(list(df2.loc[df['zipcode'] == x, 'agi_stub']))

In [61]:
final = {}
for z,s in sumN1.items():
    temp = []
    temp.append(s)
    temp.append(mulN1[z])
    for val in agi[z]:
        temp.append(val)
    final[z] = temp

In [68]:
f = pd.DataFrame.from_dict(final, orient='index',columns = ['sum', 'total','1','2','3','4','5','6'])
f.fillna(0, inplace = True) 
f['result'] = f['total']/f['sum']
f

,sum,total,1,2,3,4,5,6,result
1001,8980,475000000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,52895.322940
1002,9490,612375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,64528.451001
1003,170,2625000,37500.0,62500.0,87500.0,112500.0,212500.0,0.0,15441.176471
1005,2370,129625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,54694.092827
1007,7580,482500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,63654.353562
1008,660,38000000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,57575.757576
1009,650,29625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,45576.923077
1010,1880,115250000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,61303.191489
1011,650,32375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,49807.692308
1012,350,18625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,53214.285714
1013,10550,426125000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,40390.995261
1020,15170,696375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,45904.746210
1022,1150,49375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,42934.782609
1026,490,24375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,49744.897959
1027,9840,527750000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,53633.130081
1028,8250,564125000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,68378.787879
1029,320,17250000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,53906.250000
1030,6000,350500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,58416.666667
1031,500,22250000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,44500.000000
1032,260,14500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,55769.230769
1033,3230,190875000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,59094.427245
1034,1040,64500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,62019.230769
1035,2780,164500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,59172.661871
1036,2680,173500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,64738.805970
1037,390,23125000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,59294.871795
1038,1300,81500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,62692.307692
1039,780,46500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,59615.384615
1040,16540,668250000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,40402.055623
1050,1290,67875000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,52616.279070
1053,880,52250000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,59375.000000
...,...,...,...,...,...,...,...,...,...
99763,160,5250000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,32812.500000
99765,150,4125000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,27500.000000
99766,330,9875000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,29924.242424
99769,210,5375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,25595.238095
99770,190,5875000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,30921.052632
99772,200,5750000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,28750.000000
99777,130,3875000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,29807.692308
99780,790,35375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,44778.481013
99782,290,9625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,33189.655172
99785,150,3375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,22500.000000
99786,120,3750000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,31250.000000
99789,230,8125000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,35326.086957
99791,170,4625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,27205.882353
99801,11910,742375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,62332.073887
99820,170,4875000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,28676.470588
99824,1180,78000000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,66101.694915
99826,280,13750000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,49107.142857
99827,1270,60375000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,47539.370079
99829,390,15625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,40064.102564
99830,200,7500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,37500.000000
99833,1660,90250000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,54367.469880
99835,4440,240750000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,54222.972973
99840,770,37625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,48863.636364
99901,6300,342500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,54365.079365
99919,260,12500000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,48076.923077
99921,830,39875000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,48042.168675
99922,110,3625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,32954.545455
99925,430,19625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,45639.534884
99926,550,22625000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,41136.363636
99929,1070,49125000,12500.0,37500.0,62500.0,87500.0,112500.0,212500.0,45911.214953

In [38]:
print (agi[1001].values())

AttributeError: 'list' object has no attribute 'values'

In [60]:
agi[1001]

[12500, 37500, 62500, 87500, 112500, 212500]